.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 66px;

    /* padding-bottom: 118px; */
}

.wrapLogo {
    padding: 21px;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 61px;
    height: 23px;
}

.burger {
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);

    width: 17px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #171717;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* animation burger-menu */
.burger.openMenu span:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.burger.openMenu span:nth-child(2) {
    opacity: 0;
}

.burger.openMenu span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

.containerInner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    padding-left: 24px;
    padding-right: 24px;
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
}

.greetingBlock {
    display: flex;
    flex-direction: column;
    gap: 27px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.img {
    max-width: 345px;
    width: 100%;
    max-height: 214px;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapText {
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    max-width: 302px;
}

.btn {
    padding: 0 16px 20px;
}

.howItWorksBlock {
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.carouselItem {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.carouselImg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.carouselImg img {
    width: 100%;
    height: auto;
    max-width: 218px;
    /* height: 200px; */
    display: block;
}

:global(.swiper) {
    width: 100%;
    padding-bottom: 0;
}

:global(.swiper-slide) {
    max-width: 218px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carouselTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 4px;
}

.carouselText {
    font-size: 14px;
    line-height: 1.3;
    color: #1F1F1F;
}

.libraryBlock {
    background-color: #FFFFFF;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.librarySwiper :global(.swiper-slide) {
  max-width: 124px; 
  width: 100%;
  display: flex;
  justify-content: center;
}

.libraryImg img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.libraryText {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    color: #1F1F1F;
}

