.wrap {
    display: block;
    position: relative;
    padding: 20px 23px 20px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.title {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapAncestralList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 6px;

}

.item {
    padding: 8px 10px 9px;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    color: var(--main-color);
}

.isemSelected {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px 9px;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    background-color: #00343D1A;
    font-size: 14px;
    color: var(--main-color);
    cursor: pointer;
}
