.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;

    flex: 1;
}

.text {
    line-height: 1.3;
    color: var(--main-color-secondary);
    margin-top: 20px;
    max-width: 312px;
}

/* .timerWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.timer {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
} */

.timerWrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 30px auto;
}

.timerSvg {
    transform: rotate(-90deg);
}

.circleBg {
    fill: none;
    stroke: #E5E5E5;
}

.circle {
    fill: none;
    stroke: #6F988F;
    transition: stroke-dashoffset 1s linear;
}

.timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}

