.wrap {
    display: block;
    position: relative;
    margin-top: 24px;
}

.title {
    color: #1D2530;
    font-size: 14px;
    font-weight: 500;
}

.select {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    color: #1D2530;
    background-color: #FAFAFA;
    transition: background-color 0.3s;
}

.select:hover {
    background-color: #00303D;
    color: #FFFFFF;
}

.arrow {
    color: #999;
    font-size: 12px;
    margin-left: auto;
}

.selectDisabled {
    background-color: #F0F0F0;
    color: #9E9E9E;
    cursor: not-allowed;
    border: 1px solid #E0E0E0;
    /* pointer-events: none; */
}

.selectDisabled:hover {
    background-color: #F0F0F0;
    color: #9E9E9E;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 4px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 5px;
    color: #1D2530;
    max-height: 220px;
    overflow-y: auto;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 15px;
}

.dropdownItem:hover {
    background-color: #00303D;
    color: #FFFFFF;
    border-radius: 15px;
}

.checkmarkLeft {
    width: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
}

/* .checkmarkLeft.visible {
    opacity: 1;
} */

.visible {
    opacity: 1;
}

.selectedList {
    margin-top: 8px;
    /* margin-bottom: 24px; */
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.removeBtn {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-left: 6px;
    line-height: 1;
    padding: 0;
}

.removeBtn:focus {
    outline: none;
    box-shadow: none;
}

.selectedTag {
    background-color: #00343D;
    color: #FFFFFF;
    padding: 5px 11px;
    border-radius: 15px;
    /* font-size: 0.85rem; */
    font-size: 12px;
    font-weight: 600;
}