.btn {
    /* padding: 8px 16px; */
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
    /* background-color: #00303D; */
    background-color: var(--main-color);
    color: #FFFFFF;
    border: none;
    transition: background-color 0.2s;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inter", sans-serif;
   /* font-family: 'Cooper Hewitt', sans-serif; */
}

.btn:hover {
    /* background-color: hsl(193deg 100% 12% / 90%); */
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

/* .btn:active {
    pointer-events: none;
} */

.btn:active {
    background-color: inherit !important;
    color: inherit !important;
    border: inherit !important;
}