.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding: 37px 0 29px;
}

.visualBlock {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.wrappingHeading {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid var(--main-background-color-border);
}

.phTest {
    color: #A4A7AE;
    font-size: 12px;
    font-weight: 600;
}

.wrapDate {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date {
    color: #1F1F1F;
    font-size: 12px;
    font-weight: 600;
}

.icon {
    display: flex;
}

.wrapNum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.num {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
}

.phLevel {
    font-size: 12px;
    color: #263E3A;
}