.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 66px;
    padding-bottom: 160px;

    scrollbar-gutter: stable;
}

.containerInner {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 31px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 27px;
}

.title {
    font-size: 21px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.privacyPolicy {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    color: #717680;
    max-width: 296px;
}

.privacyPolicy a {
    cursor: pointer;
    font-weight: 600;
    color: #0C121E;
}

.bottomBlock {
    background-color: var(--main-background-color);
    padding: 16px 0 36px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    left: 50%;
    transform: translate(-50%);
}

.bottomBlockInner {
    max-width: 393px;
    padding: 0 24px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}