.content {
    /* background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    display: block;
    padding-bottom: 114px;
    min-height: 100dvh;
    overflow-y: auto; */

    /* -------------------------------------- */
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 66px;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;

    /* ------------------------------------------------- */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
}

.wrapHeading {
    padding-top: 17px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
}

.date {
    color: #717680;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 8px;
}

.title {
    font-size: 21px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 14px;
}

.wrapCheckbox {
    margin-bottom: 27px;
}

.contentCheckbox {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    flex-shrink: 0;
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 3px;
    height: 8px;
    border: solid var(--main-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxText {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    color: #717680;
}

.checkboxText a {
    color: inherit;
    cursor: pointer;
}






.innerText {
    font-size: 13px;
}

.wrapText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    display: flex;
    gap: 15px;
}

.point {
    position: relative;
    min-width: 7px;
    height: 7px;
    background-color: #006D5B;
    border-radius: 50%;
    top: 5px;
}

.advice {
    padding: 20px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnTop {
    margin-top: 8px;
}

.bottomBlock {
    /* position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%; */
    background-color: var(--main-background-color);
    max-width: 393px;
    padding: 0 24px;
    margin: 0 auto;
    /* z-index: 1000; */
}

/* .bottomLine {
    width: 345px;
    height: 1px;
    background-color: var(--main-background-color-border);
    margin: 0 auto;
} */

.btn {
    margin-top: 35px;
}