.containerStyle {
    /* max-width: 430px; */
    max-width: 393px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    height: 100%;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    flex: 1;
    /* justify-content: flex-start; */
    justify-content: space-between;
    /* верхний контент сверху, нижний — снизу */
    gap: 0;
}