.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;

    flex: 1;
}

.crumbs {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.itemColored,
.item {
    flex: 1;
    max-width: 65px;
    height: 9px;
    border-radius: 100px;
}

.itemColored {
    background-color: #6F988F;
}

.item {
    background-color: #E9EAEB;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 218px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 28px;
}

.step {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color-secondary);
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 2px;
}

.text {
    line-height: 1.3;
}

.textItalic {
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 20px;
}