.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-bottom: 89px;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.steps {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.step {
    margin-top: 35px;
    margin-bottom: 20px;
}

.img {
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.heading {
    font-size: 18px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    font-style: se;
    line-height: 1.3;
    color: var(--main-color);
    margin-top: 16px;
    margin-bottom: 4px;
    max-width: 295px;
}

.text {
    font-size: 14px;
    line-height: 1.4;
    max-width: 295px;
}

.bottomBlock {
    /* margin-top: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    /* width: 100%;
    padding-top: 10px;
    padding-bottom: 34px; */

    background-color: var(--main-background-color);
    max-width: 393px;
    padding: 10px 24px 24px;
    margin: 0 auto;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1000;
}

