.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    /* padding-bottom: 132px; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.steps {
    display: flex;
    flex-direction: column;
}

.step {
    margin-top: 35px;
    margin-bottom: 20px;
}

.img {
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.heading {
    font-size: 18px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    font-style: se;
    line-height: 1.3;
    color: var(--main-color);
    margin-top: 16px;
    margin-bottom: 4px;
    max-width: 295px;
}

.text {
    font-size: 14px;
    line-height: 1.4;
    max-width: 295px;
}

