/* .content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;

    flex: 1;
}

.text {
    line-height: 1.3;
    color: var(--main-color-secondary);
    margin-top: 20px;
    max-width: 312px;
}

.timerWrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 30px auto;
}

.timerSvg {
    transform: rotate(-90deg);
}

.circleBg {
    fill: none;
    stroke: #E5E5E5;
}

.circle {
    fill: none;
    stroke: #6F988F;
    transition: stroke-dashoffset 1s linear;
}

.timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .content {
    background-color: var(--main-background-color);
    height: 100dvh;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;

    flex: 1;
}

.textBlock {
    text-align: center;
    margin-top: 20px;
}

.text {
    color: var(--main-color-secondary);
    line-height: 1.3;
    max-width: 312px;
    margin: 0 auto;
}

.centerWrapper {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.timerWrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.timerSvg {
    transform: rotate(-90deg);
}

.circleBg {
    fill: none;
    stroke: #E5E5E5;
}

.circle {
    fill: none;
    stroke: #6F988F;
    transition: stroke-dashoffset 1s linear;
}

.timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
 */


.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textBlock {
    text-align: center;
    margin-top: 24px;
}

.text {
    color: var(--main-color-secondary);
    line-height: 1.3;
    max-width: 312px;
    margin: 0 auto;
}

.centerWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerWrapper {
    position: relative;
    width: 260px;
    height: 260px;
}

.timerSvg {
    transform: rotate(-90deg);
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.15));
    /* тень вокруг круга */
}

.circleBg {
    fill: none;
    stroke: #E5E5E5;
}

.circle {
    fill: none;
    stroke: url(#grad);
    /* градиентная линия */
    transition: stroke-dashoffset 1s linear, stroke 0.3s ease;
}

.timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}