.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textBlock {
    text-align: center;
    margin-top: 24px;
}

.text {
    color: var(--main-color-secondary);
    line-height: 1.3;
    max-width: 312px;
    margin: 0 auto;
}

.centerWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerWrapper {
    position: relative;
    width: 260px;
    height: 260px;
}

.timerSvg {
    transform: rotate(-90deg);
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.15));
}

.circleBg {
    fill: none;
    stroke: #E5E5E5;
}

.circle {
    fill: none;
    stroke: url(#grad);
    transition: stroke-dashoffset 1s linear, stroke 0.3s ease;
}

.timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}

button:disabled {
    background-color: #D5D7DA;
    color: #FFFFFF;
    pointer-events: none;
}