.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 23px 0 45px;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
    color: #1F1F1F;
    max-width: 322px;
}

.img {
    background-color: #A1C0B6;
    border-radius: 10px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-bottom: 66px;
    padding: 40px 44px 0;
}

.innerImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}