.content {
    background-color: var(--main-background-color);
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding: 26px;
    text-align: center;
}

.visualBlock {
    display: flex;
    flex-direction: column;
    padding: 20px 16px 24px;
    background-color: #FFFFFF;
    /* background-color: red; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.num {
    font-size: 52px;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
}

.scale {
    display: flex;
    margin-top: 14px;
    margin-bottom: 10px;
}

.scalePart1 {
    width: 63px;
    height: 17px;
    background: #00343D;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.scalePart2 {
    width: 63px;
    height: 17px;
    background: #60866E;
}

.scalePart3 {
    width: 63px;
    height: 17px;
    background: #526338;
}

.scalePart4 {
    width: 63px;
    height: 17px;
    background: #C6C955;
}

.scalePart5 {
    width: 63px;
    height: 17px;
    background: #0C1446;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.meaning {
    display: flex;
    justify-content: space-between;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.3;
}

.textResult {
    font-size: 14px;
    background-color: #FFFFFF;
    /* background-color: red; */
    padding: 15px 16px 20px;
    border-top: 1px solid var(--main-background-color-border);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recommendations {
    padding: 20px 16px;
    background-color: #FFFFFF;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    font-weight: 700;
}

.innerText {
    font-size: 13px;
}

.wrapText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    display: flex;
    gap: 15px;
}

.point {
    position: relative;
    min-width: 7px;
    height: 7px;
    background-color: #006D5B;
    border-radius: 50%;
    top: 5px;
}

.advice {
    padding: 20px 16px;
    background-color: #FFFFFF;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* .bottomBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.btn {
    margin-top: 35px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 21px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}