/* .content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    display: block;
    padding-bottom: 114px;
    min-height: 100dvh;
    overflow-y: auto;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
} */

.content {
    /* background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    display: block;
    padding-bottom: 114px;
    min-height: 100dvh;
    overflow-y: auto; */

    /* -------------------------------------- */
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 66px;
    padding-bottom: 114px;
    /* padding-bottom: 89px; */
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;

    /* ------------------------------------------------- */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding: 26px;
    text-align: center;
}

.visualBlock {
    display: flex;
    flex-direction: column;
    padding: 20px 16px 24px;
    background-color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.num {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
}

.date {
    color: var(--main-color);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
}

.scale {
    display: flex;
    margin-top: 14px;
    margin-bottom: 10px;
}

.scalePart1,
.scalePart2,
.scalePart3,
.scalePart4,
.scalePart5 {
    flex: 1;
    max-width: 63px;
    height: 17px;
}

.scalePart1 {
    background: #00343D;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.scalePart2 {
    background: #60866E;
}

.scalePart3 {
    background: #526338;
}

.scalePart4 {
    background: #C6C955;
}

.scalePart5 {
    background: #0C1446;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.meaning {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.3;
}

.textResult {
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 15px 16px 20px;
    border-top: 1px solid var(--main-background-color-border);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recommendations {
    padding: 20px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
}

.innerText {
    font-size: 13px;
}

.wrapText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    display: flex;
    gap: 15px;
}

.point {
    position: relative;
    min-width: 7px;
    height: 7px;
    background-color: #006D5B;
    border-radius: 50%;
    top: 5px;
}

.advice {
    padding: 20px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnTop {
    margin-top: 8px;
}

.fixedBlock {
    padding: 0 24px;
    margin: 0 auto;

    background-color: var(--main-background-color);
    max-width: 393px;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1000;
}

.btn {
    margin-top: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 21px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}