.wrapLogo {
    position: relative;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.arrowLeft {
    all: unset;
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.arrowLeft {
    all: unset;
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.logo {
    width: 61px;
    height: 23px;
}

.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    padding-top: 20px;
    /* padding-bottom: 29px; */
    padding-bottom: 50px;
    border-radius: 24px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 285px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 312px;
    margin: 0 auto;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
    color: #1F1F1F;
}

.bottomBlock {
    margin-top: auto;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    width: 100%;
}