.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    min-height: calc(100dvh - 56px);
}

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 316px;
    margin: auto;
}

.title {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #A4A7AE;
    margin: 32px 0 10px;
    max-width: 300px;
}

.text {
    line-height: 1.3;
    color: #A4A7AE;
}