.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    min-height: calc(100dvh - 56px);
    padding-bottom: 88px;
}

.mainBlock {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: center;
    text-align: center;
    max-width: 316px;
    width: 100%;
    margin: auto;
}

.wrapLoading {
    grid-row: 2;
    width: 120px;
    height: 120px;
}

.loading {
    width: 120px;
    height: 120px;
}

.textBlock {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
   font-family: 'Cooper Hewitt';
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.text {
    line-height: 1.3;
}