.content {
    background-color: var(--main-background-color);
    /* min-height: 100dvh; */
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    height: 100dvh;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    position: relative;
    flex: 1;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* padding: 0 20px;
    margin: 0; */
    /* max-width: 352px; */
}

.wrapTextBlock {
    position: absolute;
    /* max-width: 393px; */
    top: 50%;
    left: 50%;
    /* transform: translate(0, -70%); */
    transform: translate(-50%, -50%);
    /* max-width: 352px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    padding: 0 20px;
    max-width: 352px;
}

.wrapLoading {
    /* width: 120px;
    height: 120px; */
    width: 100px;
    height: 100px;
}

.loading {
    width: 100%;
    height: 100%;
    margin-bottom: 31px;
}

.heading {
    font-family: 'Cooper Hewitt';
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}