.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1; */

    display: flex;
    flex-direction: column;

    min-height: calc(100dvh - 56px);
     flex: 1;
}

.wrapper {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center; */

    /* display: grid; */
    /* grid-template-rows: 1fr auto auto 1fr; */
    /* grid-template-rows: 1fr auto auto 1fr; */
    justify-items: center;
    text-align: center;
    width: 100%;
    /* margin: auto; */
        display: flex;

    flex: 1;
}

.wrappInner {
    /* display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    max-width: 352px;

        display: contents; */
/* 
            display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: center;
    width: 100%;
    text-align: center; */

        display: grid;
    grid-template-rows:
        1fr        /* верхнее пустое пространство */
        auto       /* wrapLoading */
        0.5fr      /* расстояние между лоадером и центром */
        auto       /* ⭐ textBlock — ЦЕНТР */
        1fr;       /* нижнее пространство */

    justify-items: center;
    width: 100%;
    text-align: center;
    
}

.wrapLoading {
    width: 120px;
    height: 120px;

        grid-row: 2;
}


.textBlock {
    grid-row: 3;
    max-width: 312px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading {
    width: 100%;
    height: 100%;
    margin-bottom: 31px;
}

.heading {
    font-family: 'Cooper Hewitt';
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.text {
    line-height: 1.3;
}