.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
}

.wrapTextBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    max-width: 352px;
}

.wrapLoading {
    width: 120px;
    height: 120px;
}

.loading {
    width: 100%;
    height: 100%;
    margin-bottom: 31px;
}

.heading {
    font-family: 'Cooper Hewitt';
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}