*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}