:root {
    --main-color: #00343D;
    --main-background-color: #FAFAFA;
    /* --main-background-color: #F8F8F8; */
    --main-background-color-border: #EDEAE7;
    --secondary-background-color: #D9D9D9;
}
