.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 26px;
    margin-top: 29px;
    max-width: 312px;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
}

.skip {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--main-color);
    margin-bottom: 85px;
}

.bottomBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



