.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 26px;
    margin-top: 60px;
}

.heading {
    font-size: 24px;
    font-weight: 711;
    color: var(--main-color);
}

.skip {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--main-color);
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}