.adjustableFrame {
    pointer-events: all;

    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(-39px);
    width: 78px;
    height: 288px;
    border: 2px solid green;
    cursor: move;
    z-index: 1000;
}