.content {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    overflow: hidden;

    padding-top: 56px;
}

.wrapLogo {
    position: relative;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.arrowLeft {
    all: unset;
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.cameraBlock {
    width: 100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.cameraContainer {
    position: relative;
    width: 100%;
    background-color: black;
}

.webcamVideo {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.wrapMoveCloser {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 10;
}

/* ------------------ frame focus ------------------ */
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    pointer-events: none;
    z-index: 5;
    margin-top: 19px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 11px;
    background: #ffffffcd;
    border: none;
    border-radius: 100px;
    transition: background-color 0.35s ease, color 0.35s ease;
}

.btnSuccess {
    color: #00B274 !important;
    background: #ffffffcd !important;
}

.bottomBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.text {
    font-size: 20px;
    color: var(--main-color);
    line-height: 1.2;
    max-width: 299px;
    text-align: center;
}

.frameImage {
    width: 188px;
    height: 460px;
    pointer-events: none;
    user-select: none;
}