.cameraContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: black;
}

/* .overlayBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
} */

.webcamVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.webcamVideo.show {
  opacity: 1;
}

/* ------------------ focus frame ------------------ */
.viewfinder {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 80vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: transparent;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: box-shadow 0.35s ease, transform 0.35s ease;
  transform-origin: center;
}

.viewfinder::before,
.viewfinder::after,
.viewfinder .bottom-left,
.viewfinder .bottom-right {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #ffffffb2;
  box-sizing: border-box;
}

.viewfinder::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 15px;
}

.viewfinder::after {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 15px;
}

.viewfinder .bottom-left {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 15px;
}

.viewfinder .bottom-right {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 15px;
}

.viewfinder.detected::before,
.viewfinder.detected::after,
.viewfinder.detected .bottom-left,
.viewfinder.detected .bottom-right {
  border-color: #ffd9009c;
}

.viewfinder.detected {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%) scale(0.97);
}

/* ------------------ Подсказка ------------------ */
.hintMessage {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.93);
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 16px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;

  word-wrap: break-word;
  white-space: normal;
}

.hintMessageText {
  font-size: 14px;
  color: #1D2530;
  font-weight: 500;
}