.content {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    overflow: hidden;
}

.wrapLogo {
    position: relative;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.arrowLeft {
    all: unset;
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    flex-grow: 1;
    overflow: hidden;
}

.cameraBlock {
    width: 100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.cameraContainer {
    position: relative;
    width: 100%;
    /* flex-grow: 1; */
    /* overflow: hidden; */
    background-color: black;
}

.webcamVideo {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.wrapMoveCloser {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 10;
}

/* ------------------ Рамка фокуса ------------------ */
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 31px; */
    gap: 19px;
    pointer-events: none;
    z-index: 5;
    /* margin-top: 31px; */
    margin-top: 19px;
}

.cameraIlluminationBtn {
    position: absolute;
    left: 21px;
    bottom: 23px;
    z-index: 20;

    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;

    /* backdrop-filter: blur(4px); */
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 11px;
    background: #ffffffcd;
    border: none;
    border-radius: 100px;
    transition: background-color 0.35s ease, color 0.35s ease;
}

.btnSuccess {
    color: #00B274 !important;
    background: #ffffffcd !important;
}

.bottomBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding-right: 24px;
    padding-left: 24px;
}

.text {
    font-size: 20px;
    color: var(--main-color);
    line-height: 1.2;
    max-width: 299px;
    text-align: center;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}

.frameImage {
    width: 188px;
    height: 460px;
    pointer-events: none;
    user-select: none;
}