.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* height: auto; */
}

.cameraBlock {
    width: 100%;
    height: 100%;
    flex: 1;
}

.bottomBlock {
    /* margin-top: auto; */
    margin-top: 20px;
    /* margin-top: 31px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    font-size: 20px;
    color: var(--main-color);
    line-height: 1.2;
    max-width: 299px;
    text-align: center;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 21px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}

/* --------------------------------------------------------------------- */


.cameraContainer {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.webcamVideo {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

/* ------------------ Верхние кнопки ------------------ */
.topControls {
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.exitBtn {
    background: rgba(0, 0, 0, 0.45);
    color: #ffffff;
    border: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    backdrop-filter: blur(6px);
}

/* ------------------ Рамка фокуса ------------------ */
.overlay {
    /* position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 5; */

    position: absolute;
    inset: 0;
    /* занимает весь родительский блок */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* центр по горизонтали */
    align-items: center;
    gap: 31px;
    /* центр по вертикали */
    pointer-events: none;
    z-index: 5;
    margin-bottom: 31px;
}

.thermoMask {
    width: 100%;
    height: 100%;
    display: block;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    padding: 5px 11px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    margin-top: 24px;
}