.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    min-height: calc(100dvh - 56px);
    padding-bottom: 155px;

    flex: 1;
}

.mainBlock {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: center;
    text-align: center;
    max-width: 316px;
    width: 100%;
    margin: auto;
}

.icon {
    grid-row: 2;
}

.textBlock {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
    color: #A4A7AE;
    color: var(--main-color-secondary);
}

.bottomBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 3px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}