/* .fakeStatusBar {
    height: env(safe-area-inset-top, 44px);
    background-color: black;
    width: 100%;
} */

.fakeStatusBar {
    height: env(safe-area-inset-top, 20px);
    /* fallback 20px для всех iPhone */
    background-color: black;
    width: 100%;
    position: fixed;
    /* фиксируем сверху */
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: env(safe-area-inset-top, 20px);
    /* чтобы контент не перекрывал fakeStatusBar */
}

.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.wrapImg {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.innerImg {
    width: 100px;
    height: 123px;
}

.img {
    width: 100%;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 316px;
}

.heading {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 2px;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 12px;
    max-width: 259px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}