.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 393px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}

.wrapImg {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.innerImg {
    width: 100px;
    height: 123px;
}

.img {
    width: 100%;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 316px;
}

.heading {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 2px;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    max-width: 345px;
    width: 100%;
    margin: auto auto 16px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 3px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}