/* .content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 393px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;

    flex: 1;
}

.wrapImg {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.innerImg {
    width: 100px;
    height: 123px;
}

.img {
    width: 100%;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 316px;
}

.heading {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 2px;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 3px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    min-height: calc(100dvh - 56px);
    padding-bottom: 155px;

    flex: 1;
}

.mainBlock {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: center;
    text-align: center;
    max-width: 316px;
    width: 100%;
    margin: auto;
}

.icon {
    grid-row: 2;
    /* margin-bottom: 22px; */
}

.textBlock {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
    color: #A4A7AE;
    color: var(--main-color-secondary);
}

.bottomBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 3px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}