.wrap {
    display: block;
    padding: 20px 23px 20px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edit {
    cursor: pointer;
}

.text {
    color: #1F1F1F;
    max-width: 250px;
}

.textarea {
    width: 100%;
    height: 70px;
}