.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    padding-top: 12px;
    /* padding-bottom: 29px; */
    padding-bottom: 20px;
    border-radius: 24px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 285px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.welcome {
    font-size: 12px;
    color: var(--main-color);
    text-transform: uppercase;
}

.heading {
    font-size: 22px;
    font-family: 'Cooper Hewitt';
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.2;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.bottomText {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottomText p {
    font-size: 13px;
    line-height: 18px;
    color: #717680;
    text-align: center;
    width: 276px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    /* padding-top: 11px; */
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}