.wrap {
    display: block;
    position: relative;
    padding: 20px 14.5px;
    background-color: #FFFFFF;
    width: 100%;
}

.title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
}

.select {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px 14.5px;
    cursor: pointer;
    font-size: 14px;
    color: #A4A7AE;
}

.selected {
    color: #000000;
}

.select:hover {
    background-color: #00303D;
    color: #FFFFFF;
}

.arrow {
    display: flex;
    transition: transform 0.25s ease;
    transform-origin: center;
}

.arrowOpen {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 4px;
    left: 14.5px;
    right: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    color: #1D2530;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.25s ease, opacity 0.25s ease, padding 0.25s ease;
    font-size: 14px;
}

.dropdownOpen {
    max-height: 300px;
    opacity: 1;
    padding: 5px;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 14.5px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #00303D;
    color: #FFFFFF;
    border-radius: 10px;
}