.wrap {
    display: block;
    position: relative;
    padding: 20px 14.5px;
    background-color: #FFFFFF;
}

.title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
}

.select {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
    /* margin-bottom: 24px; */
    padding: 12px 14.5px;
    cursor: pointer;
    font-size: 14px;
    color: #A4A7AE;
    /* background-color: #FAFAFA; */
    transition: background-color 0.3s;

}

.select:hover {
    background-color: #00303D;
    color: #FFFFFF;
}

.arrow {
    color: #999;
    font-size: 12px;
    margin-left: auto;
}

.selectDisabled {
    background-color: #F0F0F0;
    color: #9E9E9E;
    cursor: not-allowed;
    border: 1px solid #E0E0E0;
    pointer-events: none;
}

.selectDisabled:hover {
    background-color: #F0F0F0;
    color: #9E9E9E;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 4px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 5px;
    color: #1D2530;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 15px;
}

.dropdownItem:hover {
    background-color: #00303D;
    color: #FFFFFF;
    border-radius: 15px;
}