.wrap {
    position: relative;
    margin-top: 24px;
}

.title {
    color: #1D2530;
    font-size: 14px;
    font-weight: 500;
}

.input {
    margin-top: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #fafafa;
    transition: background-color 0.3s;
}

.input:focus {
    outline: none;
    background-color: #fff;
    border-color: #00303d;
}

.inputDisabled {
    background-color: #F0F0F0;
    color: #9E9E9E;
    cursor: not-allowed;
    border: 1px solid #E0E0E0;
    pointer-events: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 4px;
    z-index: 10;
}

.dropdownItem {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #00303d;
    color: white;
}

.selectedList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.selectedTag {
    background-color: #00343D;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.removeBtn {
    background: none;
    border: none;
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
}