.wrapper {
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    padding: 16px;
    z-index: 100; */

    background-color: var(--main-background-color);
    padding: 16px 0 29px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.actions {
    display: flex;
    gap: 10px;

    max-width: 393px;
    padding: 0 24px;
    margin: 0 auto;
}