.wrapLogo {
    padding: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;
}

.logo {
    width: 61px;
    height: 23px;
}

.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.wrapImg {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.innerImg {
    width: 100px;
    height: 123px;
}

.img {
    width: 100%;
    height: 100%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 316px;
}

.heading {
    font-size: 22px;
    font-weight: 709;
    color: var(--main-color);
    line-height: 1.2;
}

.text {
    line-height: 1.3;
}

.bottomBlock {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    margin-bottom: 12px;
    max-width: 259px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapLine {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 11px;
}

.line {
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 100px;
}